<div class="bg-base-100 container mx-auto shadow-lg rounded-lg max-w-md hover:shadow-2xl transition duration-300">
  <%=image_tag bookmark.item.image ,class: "w-auto mx-auto rounded-full object-cover object-center" %>
  <div class="p-6">
    <div class="md:text-1xl text-xl hover:text-secondary transition duration-200  font-bold text-gray-900 text-center">
      <%= link_to 'メッセージ詳細', delivery_path(bookmark),class: 'btn btn-primary mb-2'%>
      <%=image_tag 'logo.png', class: "mx-auto",size: "100x100"%>
      <%= bookmark.addresser %>より
    </div>
  </div>
</div>
