<div class="my-3">
  <h1 class="text-xl font-bold">商品管理</h1>
  <div class="w-75 mt-2">
    <div class="w-75">

    </div>
    <div class="d-flex justify-content-between w-75 mt-4">
      <%= link_to "新規アイテム作成", new_admin_item_path, class: "btn btn-primary" %>
    </div>
    <table class="table table-responsive mt-5">
      <thead>
        <tr>
          <th>ID</th>
          <th>商品名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @items%>
      </tbody>
    </table>
  </div>
  <div class="flex justify-center my-3">
    <%= paginate @items %>
  </div>
</div>
