<div class="bg-primary py-3 footer footer-center">
  <div class="row">
    <div class="col-12">
      <div class="footer_text">
        <div class="footer_balloon">
          <p>
            <%= link_to "利用規約", terms_path, class:"footer-text" %>
            /
            <%= link_to "プライバシーポリシー", privacy_path, class:"footer-text"%>
          </p>
        </div>
        <div class="copyright text-center">
          <%= image_tag "logo.png", size: "50x50",class: "mx-auto" %>
          <p>© 2023 お疲れ様です</p>
        </div>
      </div>
    </div>
  </div>
</div>
