<ul class='crud-menu-btn list-inline flex my-2'>
  <li class="list-inline-item">
    <%= link_to deliveries_path do%>
      <%= image_tag 'back.png', size: "62x48" %>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to '編集',edit_delivery_path(delivery), id: "button-edit-#{delivery.id}",class: 'btn btn-primary'%>
  </li>
  <li class="list-inline-item">
    <%= button_to "削除", delivery_path(delivery),  method: :delete, form: { data: { turbo_confirm: t('defaults.message.delete_confirm')  } }, class: 'btn mx-1' %>
  </li>
</ul>

