<div>
  <h2 class="font-bold text-xl text-center">
    差し入れした一覧
  </h2>
</div>
<div class="w-80 my-10 mx-auto">
  <% if @deliveries.present? %>
    <%= render @deliveries %>
  <% else %>
    <p class= "text-center"><%= t('.no_result') %></p>
  <% end %>
  <ul class='crud-menu-btn list-inline text-center my-3'>
    <li class="list-inline-item">
      <%= link_to '差し入れしてみる',items_path,class: "btn btn-primary"%>
    </li>
  </ul>
</div>
