<div class="my-3">
  <h1 class="text-xl font-bold">タグ管理</h1>
  <div class="w-75 mt-2">
    <table class="table table-responsive mt-5">
      <thead>
        <tr>
          <th>タグ名</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @tags%>
      </tbody>
    </table>
  </div>
</div>
