<div class="bg-gray-100 min-h-screen py-32 px-10 ">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-10 xl-grid-cols-4 gap-y-10 gap-x-6 ">
    <%= render @items%>
  </div>
</div>
