<div>
  <h2 class="font-bold text-3xl">差し入れしたい商品を
  <span class=" text-primary">1つ</span>
  選んでください</h2>
</div>
<div class="rounded-lg bg-info min-h-screen py-32 px-10 ">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-10 xl-grid-cols-4 gap-y-10 gap-x-6 ">
    <%= render @items%>
  </div>
</div>
