<div class="my-3">
  <h2 class="my-3">ダッシュボード</h2>
  <%= link_to 'Item一覧',  admin_items_path, class: "btn btn-secondary"%>
  <%= link_to 'タグ一覧',  admin_tags_path,  class: "btn btn-secondary" %>
</div>
